
<div class="parallax" id="hoian" data-stellar-background-ratio="0.8"> <%= image_tag("hoianboys.jpg") %> </div>

<h1>Welcome to Julin's Travel Planning</h1>


<h3> Let me plan the holiday of your dreams: adventure, activity or exclusive getaway<br>
Are you looking for a special holiday like spending some nights in a tree house or a yurt? Would you like to travel Ukraine, Namibia or China? I will plan your exclusive holiday and spare you from the hassel of organizing it yourself!</h3>

<p>Welcome! The date and time is <%=Time.now %></p>





