
<div id="aboutpage">

<div class="parallax" id="hoian">  

<h1>Welcome to Julin's Travel Planning</h1>


<h3> Let me plan the holiday of your dreams: adventure, activity or exclusive getaway<br> <br>
Are you looking for a special holiday like spending some nights in a tree house or a yurt? Would you like to travel Ukraine, Namibia or China? I will plan your exclusive holiday and spare you from the hassel of organizing it yourself!</h3>

<h4> <p> 
Please also have a look at <%= link_to "my Blog", "https://julinsblog.herokuapp.com", :target => "_blank" %>, <%= link_to "my interactive website", "http://julin.bitballoon.com", :target => "_blank" %> and <%= link_to "informatioen about and translations of Ukrainian childrens literature", "http://www.translit-portal.de/projekte/kinderbuecher/", :target => "_blank" %>

Please also have a look at <a target="_blank" href="https://julinsblog.herokuapp.com"> my Blog </a>
and <a target="_blank" href="http://julin.bitballoon.com"> my interactive showcase-website </a></p></h4> 

<p>Welcome! The date and time is <%=Time.now %></p></div>
</div>
</div>
