<h1>Welcome to Julin's Travel Planning</h1>
<h2> Let me plan the holiday of your dreams: adventure, activity or exclusive getaway<br>
Are you looking for a special holiday like spending some nights in a tree house or a yurt? Would you like to travel Ukraine, Namibia or China? I will plan your exclusive holiday and spare you from the hassel of organizing it yourself!</h2>

<p>Welcome! The date and time is <%=Time.now %></p>

<%= image_tag("hoianboys.jpg", class: "img-responsive hoian") %>
