
<div class="panel panel-default">
  <div class="panel-body"> 
  <!--besser panel-body contact-form?-->

    <h1>Thank you. We have received your message and will respond as soon as possible.</h1>
    <div class="projectName navbar-brand", id=thank_you>
       <%= image_tag("hibiskusgezeichnet.png", class: "img-responsive hoian") %> 
    </div>
    <!--%= link_to 'See the Section About', static_pages_index_path, class: "btn btn-primary" %-->
    <a href=#about> Also see my Section About </a>  
    
  </div><!-- / panel-body -->
</div><!-- / panel -->