
<div class="panel panel-default">
  <div class="panel-body"> 
  <!--besser panel-body contact-form?-->
    <p>Thank you. We have received your message and will respond as soon as possible.</p>
    <%= image_tag("hibiskusgezeichnet.png", class: "img-responsive hoian", id:"thank_you_email") %> 
    <%= link_to 'About', static_pages_index_path %>
  </div><!-- / panel-body -->
</div><!-- / panel -->