 <body style="margin: 0; padding: 0;">
    <table cellpadding="0" cellspacing="0" width="100%">
      <table align="center" border="1" cellpadding="0" cellspacing="0" width="400" style="border-collapse: collapse;">
        <tr bgcolor="#28c093">
          <td align="center" style="padding: 40px 0 30px 0;">
          <%= image_tag("hibiskusgezeichnet.png", class: "img-responsive hoian", width: "300") %> 
          </td>
        </tr>
        <tr>
          <td bgcolor="#3234cd" style="padding: 20px 20px 20px 20px;">
          <p>You have received a new contact form message. The contents of the message are:</p>
          <p><%= @message %></p></td>
        </tr>
        <tr bgcolor="#28c093">
          <td>
          </td>
        </tr>
      </table>
    </table>
</body>