// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#products {
	background-color: #28c093;
	align-items: center;
}

#products p {	
    display: flex;
    font-family: Acme,Arial,Georgia,serif;
    align-items: center;
    justify-content: center;
    color: #3234cd;
   
}


#button {
    align: center;
	background-color: #28c093;
	color: #3234cd;
}

.field {
	height: 2em;
}


#products h3 {
    background-color: #3234cd;
	color: #28c093;
	padding: 0.5em;
	border-width: 0.5em;
	box-shadow: 10px 10px 5px #888888;
    }


#products a {
	color: #28c093;
	background-color: #3234cd;

	text-align: center;
	font-size: 0.8em;
}

#products p {
	font-size: 1.4em;
	text-align: center;
}

#products.image_url {
	align: center;
	border: 1em #3234cd;
}

.row {
  width: 70%;
  margin: 1em auto;
  padding-top: 0.5em;
  color: #3234cd;
}


.product-show {
  max-width: 70%;
  text-align: center;
  color: #28c093;
  background-color: #3234cd;
  margin-left: 9em;
}

.product-show img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-color: #28c093;
  border-width: 0.5em;
}

.btn btn-primary  {
	color: #28c093;
  background-color: #3234cd;
}

.pagination {
  .previous_page { background:#7777ff; color:white }
  .previous_page.disabled { background: white; color: #777 }
  .current { background: yellow }
  .next_page { background: #7777ff; color: white }
  .next_page.disabled { background: white; color: #777 }
  }