// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row {
  width: 60%;
  margin: 1em auto;
  color: #3234cd;
}


.product-show {
  max-width: 90%;
  text-align: center;
  color: #28c093;
  margin-left: 9em;
}

//in the index part
#angebote {
  width: 100%;
  margin: 1em auto;
  padding-top: 0.5em;
  color: #3234cd;
}

.img-responsive picturebox {
  object-fit: contain;
}

.descriptionbox {
  height: 8em;
}

#products {
	background-color: #28c093;
	align-items: center;
}

#products p {	
    display: flex;
    font-family: Acme,Arial,Georgia,serif;
    align-items: center;
    justify-content: center;
    color: #3234cd;
    font-size: 1.4em;
	text-align: center;
}

.glyphicon-euro {
  font-family: Acme,Arial,Georgia,serif; 
  color: #3234cd;
  font-size: 1.6em;
  padding-bottom: 0.5em;
}


/***buttons***/
.btn btn-primary {
	color: #28c093;
	background-color: #3234cd;
	}



.btn btn-primary a:hover {
	color: yellow;
}

.stripe-button-el {
  display: btn btn-primary;
  color: #28c093;
  background-color: #3234cd;
  align-button: center;
}

.field {
	height: 2em;
}

#average-rating {
	margin: 0 auto;
}

#products h3 h4 {
  font-family: Acme,Arial,Georgia,serif;
  background-color: #3234cd;
	color: #28c093;
	padding: 0.5em;
	border-width: 0.5em;
	box-shadow: 10px 10px 5px #888888;
    }


#products a h1 {
	font-weight: bold;
	letter-spacing: 0.05em;
	font-size: 2em;
	padding: 1em;


#products a {
	color: #28c093;
	background-color: #3234cd;
	text-align: center;
	font-size: 0.8em;
}



#products.image_url {
	align: center;
	border: 1em #3234cd;
}


.button_to, .actions {
	align: center;
	background-color: #3234cd;
	color: #28c093;
}

.form-control, .form-group {
	width: 70%;
	margin: 2em;
	border-color: #3234cd;
	padding: 1em;
}

#products form.label {
	color: #28c093;
}


.product-show img {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  border-color: #28c093;
  border-width: 0.5em;
}

/***new_comments***/

.Review #AddReview h4 {
  font-family: Acme,Arial,Georgia,serif; font-size: 2em; letter-spacing:0.05em;
}

.Review #form-control {
  width: 90%;  
}


/***pagination***/

.digg_pagination {
    font-family: Acme,Arial,Georgia,serif;
    font-size: 1em;
    text-decoration: none;
	text-align: center;
	margin: 0 auto;
	.previous_page { background: white; color: #777 }
    .previous_page.disabled { background: white; color: black }
    .current { background: #777 }
    .next_page { background: white; color: #777 }
    .next_page.disabled { background: white; color: black }
}

}



