// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#products {
	background-color: #28c093;
	align-items: center;
}

#products a, h1, p {	
    display: flex;
    font-family: Acme,Arial,Georgia,serif;
    align-items: center;
    justify-content: center;
    color: #3234cd;
   
}

.field {
	height: 2em;
}

h1 {
	padding: 0.5em;
	border-width: 0.5em;
	box-shadow: 10px 10px 5px #888888;
    }

#products a h1 {
	font-weight: bold;
	letter-spacing: 0.05em;
	font-size: 2em;
	padding: 3em;
	text-align: center;
}

#products p {
	font-size: 1.4em;
	text-align: center;
}

product.image_url {
	align: center;
	border: 1em #3234cd;
}

#products button {
	background-color: #28c093;
	color: #3234cd;
}