// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, 
body { 
  height: 100%;
}

body {
  position: relative;
  padding-top: 60px;
}

/***navbar***/

.navbar {
	background-color: #28c093;
	height: 5em;
}

#mynavbar a {
	color: #3234cd;
	background-color: #28c093;
	letter-spacing: 0.05em;
	font-size: 1.8em;
	}

#mynavbar a:hover {
		color: #ff0;
	}

.projectName a {
	color: #3234cd;
	padding-top: 0.5em;
}

.projectName a:hover {
	color: #1d5fd7;
}

/***h1***/
h1 {
	font-weight: bold;
	color: #28c093;
	background-color: #3234cd;
}

h2, p, h1 {
	font-family: Acme,Arial,Georgia,serif;
	text-align: center;
	}

h2, p {
	color: #3234cd;
	background-color: #28c093;
}

.img-responsive {
	display: inline-block;
	float: center;
	width: 90%;
	padding: 2em;
	border: #3234cd 1em;
	}

body > .container {
  padding: 60px 15px 0;
}

/***footer***/
footer {
	padding-top: 1em;
	font-family: Acme,Arial,Georgia,serif;
	color: #3234cd;
}