// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, 
body { 
  height: 100%;
}

body {
  position: relative;
  padding-top: 60px;
}

/***navbar***/

.navbar {
	background-color: #28c093;
	height: 6em;
}

.navbar-right li {
	padding-right: 1em;
}

#mynavbar a {
	color: #3234cd;
	background-color: #28c093;
	letter-spacing: 0.05em;
	font-size: 1.8em;
	}

#mynavbar a:hover {
		color: #ff0;
	}

.projectName  {
	padding-top: 0.2em;
}

.pull-right {
	color:#28c093; 
	letter-spacing: 0.05em;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0.2em;
}

.btn-primary, a, #login, #edit, #back {
	color: #28c093; 
	background-color: #3234cd;
}

a:hover, .btn-primary:hover, #login:hover, #edit:hover, #back:hover, .send-button:hover {
	color: yellow;
}

.actions {
	color: #28c093;
	font-family: Acme,Arial,Georgia,serif;
}

/***carousel***/
.carousel-caption {
	font-family: Acme,Arial,Georgia,serif;
	color: #28c093;
	font-size: 3em;
	padding: 3em;
	margin: 0 auto;
}

.carousel-indicators .active {
	background-color: #28c093;
}

.carousel-indicators li { border-color: #3234cd; } 

/***table***/
h1 {
	font-weight: bold;
	color: #28c093;
	background-color: #3234cd;
}

h2, p, h1, h3, a {
	font-family: Acme,Arial,Georgia,serif;
	text-align: center;
	}

h2, p, h3 {
   	color: #3234cd;
	//background-color: #28c093;
}


.img-responsive {
	display: inline-block;
	float: center;
	width: 90%;
	padding: 2em;
	border: #3234cd 1em;
	}

/***photos of products on show***/
.img-zoom {
	display: block;
    margin-left: auto;
    margin-right: auto
}


body > .container {
  padding: 60px 15px 0;
}

/***about***/


.parallax {
  width: 100%;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/hoianboys.jpg");
  padding: 0.05em;
  height: 20em;
  opacity: 0.4;
  }
  @media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}

.parallax #hoian h1 {
  opacity: 0;
  width: 70%;
}





/***buttons***/
.btn btn-primary {
	color: #28c093;
	background-color: #3234cd;
	}


.btn btn-primary a:hover {
	color: yellow;
}


/***footer***/
.footer {
    padding-bottom: 0.1em; 
	padding-top: 1em;
	font-family: Acme,Arial,Georgia,serif;
	color: #3234cd;

}

//pagination

.pagination {
	border: none;
	text-align: center;
	padding: 1.3em;
	cursor: default;
	
}

.pagination a:hover, .pagination a:focus {
  text-decoration: underline; 
  text-color: yellow;
  color: yellow;
}
.pagination a, .pagination span {
	padding: 0.2em 0.3em; 

.pagination .disabled {
	color: white; 
}
.pagination .current {
	font-style: normal;
	font-weight: bold;
	background-color: #b75f5f;
	display: inline-block;
	width: 1.4em;
	height: 1.4em;
	line-height: 1.5;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
	text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
	.pagination a {
	text-decoration: none;
	color: white; 
}
}



/***rating stars***/

#stars {
	margin-left: auto;
	margin-right: auto;
	align: center;
}
