<p id="notice"><%= notice %></p>

<h1>Vacation ideas</h1>

<div class="new_product">
		<div class="row">
			<div class="col-xs-12 col-md-12">
					<% if signed_in? && current_user.admin? %>
						<span><%= link_to 'New Product', new_product_path %></span>
					<% end %>
				</div>
		</div>
</div>


  <div class="row" id="angebote">
   
  <%= render @products %>


  </div>

  <div class="digg_pagination">
 <%= will_paginate @products %>
   
</div>





<!--%= link_to 'New Product', new_product_path, style: 'color:#28c093' %-->