

<h1>Holidays for you in...</h1>

<div class="new_product">
		<div class="row">
			<div class="col-xs-12 col-md-12">
					<% if signed_in? && current_user.admin? %>
						<span><%= link_to 'New Product', new_product_path %></span>
					<% end %>
				</div>
		</div>
</div>


<div class="row1" id="angebote">
   
 <% cache (cache_key_for_products) do %>
        <% @products.each do |product| %>
          <%= render partial: "product", locals: {product: product} %>
        <% end %>
<% end %>

</div>



<div class="digg_pagination">
  <%= will_paginate @products %>  
</div>





<!--%= link_to 'New Product', new_product_path, style: 'color:#28c093' %-->